.hetmenu {
    margin-left: 5%;
    margin-right: 5%;
    background-color: lightgray;
}

.hoofd {
    margin-top: -10px;
    text-align: center;
}

.titlewwikleur1 {
    font-size: 75px;
    color: #33BDFF;
    font-family: Verdana;
}

.titlewwikleur2 {
    font-size: 75px;
    color: #7F96A1;
    font-family: Verdana;
}

.topnav {
    background-color: #7F96A1;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #33BDFF;
    color: #7F96A1;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    display: inline;
    padding: 8px;
}