.hetmenu {
    background-color: #ebebeb;
}

.hoofd {
    text-align: center;
}

.titlewwikleur1 {
    display: inline-block;
    font-size: 4rem;
    color: #33BDFF;
    font-family: Verdana;
}

.titlewwikleur2 {
    display: inline-block;
    font-size: 4rem;
    color: #7F96A1;
    font-family: Verdana;
}

.topnav {
    background-color: #7F96A1;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.topnav a:hover {
    background-color: #33BDFF;
    color: #7F96A1;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    display: inline;
}
.formuliernaam{
display: inline-block;
font-size: 35px;
text-align: left;
}
.gegevensnaam{
    display: inline-block;
    text-align: right;
    font-size: 35px;
}

.page{
    margin-top: 3%;
}
